webapp/.vs
fundstrading.common/bin
fundstrading.common/obj
fundstrading.data/bin
fundstrading.data/obj
fundstrading.data/fundstrading.data.jfm
fundstrading.data/fundstrading.data.sqlproj.user
fundstrading.domain/bin
fundstrading.domain/obj
fundstrading.domain.tests/bin
fundstrading.domain.tests/obj
fundstrading.repositories/bin
fundstrading.repositories/obj
fundstrading.repositories.tests/bin
fundstrading.repositories.tests/obj
fundstrading.services/bin
fundstrading.services/obj
fundstrading.services.tests/bin
fundstrading.services.tests/obj
